{% extends 'base.html' %}

{% block title %}首页{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
{% endblock %}


{% block main %}



<table data-toggle="table" data-url="{{ context }}">
  <thead>
    <tr>
      <th data-field="id">Item ID</th>
      <th data-field="name">Item Name</th>
      <th data-field="price">Item Price</th>
    </tr>
  </thead>
</table>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>


<!--<ul>-->
        <!--{% for prescription in prescriptions %}-->
        <!--<li>-->
            <!--<div class="avatar-group">-->
                <!--<img src="{{ url_for('static', filename='images/doctor.jpg') }}" alt="" class="avatar">-->
            <!--</div>-->
            <!--<div class="pre-group">-->

                <!--<table class="table table-hover">-->
                    <!--...-->
                <!--</table>-->

                <!--<p class="diagnosis"><span>诊断：</span><a href="#">{{ prescription.diagnosis }}</a></p>-->
                <!--<p class="comments"><span>点评：</span>{{ prescription.comments }}</p>-->
                <!--<div class="pre-info">-->
                    <!--<span class="t_id"><span>单据号：</span>{{ prescription.t_id }}</span>-->
                    <!--<span class="name"><span>患者姓名：</span>{{ prescription.name }}</span>-->
                    <!--<span class="gender"><span>患者性别：</span>{{ prescription.gender }}</span>-->
                    <!--<span class="pre_date"><span>处方日期：</span>{{ prescription.pre_date }}</span>-->
                    <!--<span class="first_page"><span>单联：</span>{{ prescription.first_page }}</span>-->
                    <!--<span class="second_page"><span>双联：</span>{{ prescription.second_page }}</span>-->
                    <!--<span class="third_page"><span>三联：</span>{{ prescription.third_page }}</span>-->
                    <!--<span class="injection"><span>注射剂：</span>{{ prescription.injection }}</span>-->
                    <!--<span class="pre_amount"><span>处方金额：</span>{{ prescription.pre_amount }}</span>-->
                    <!--<span class="prescriber"><span>处方医师：</span>{{ prescription.prescriber }}</span>-->
                    <!--<span class="section"><span>科室：</span>{{ prescription.section }}</span>-->
                    <!--<span class="reasonable"><span>处方是否合理：</span>{{ prescription.reasonable }}</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--{% endfor %}-->
    <!--</ul>-->

{% endblock %}